.back_header_transparent{
    background-image: url("images/fondo_trans.png");

}

.back_white{
    background-image: url("images/back.png");
    background-repeat: no-repeat;
    background-size: 100%;

}

.back_header_color{
    background: rgba(87,166,250,1);
    background: -moz-linear-gradient(-45deg, rgba(87,166,250,1) 0%, rgba(92,13,166,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(87,166,250,1)), color-stop(100%, rgba(92,13,166,1)));
    background: -webkit-linear-gradient(-45deg, rgba(87,166,250,1) 0%, rgba(92,13,166,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(87,166,250,1) 0%, rgba(92,13,166,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(87,166,250,1) 0%, rgba(92,13,166,1) 100%);
    background: linear-gradient(135deg, rgba(87,166,250,1) 0%, rgba(92,13,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57a6fa', endColorstr='#5c0da6', GradientType=1 );
}

.logo_icons_padding{
    margin-left: 15%;
}
.logo_icons2_padding{
    margin-right: 5%;
    margin-left: 30%;
}
.logo_icons3_padding{
    margin-right: 5%;
    margin-left: 38%;
}

h2{
    color: white;
    font-weight: 700;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}
.font_header{
    color: #FFDBDBDB;
    font-size: 100%;
    font-family: Helvetica;

}
.container_middle{
    margin-left: 15%;
    margin-right: 15%;

}

.back_pregunta{
    background-image: url("images/Rectangle01.png");
    background-repeat: no-repeat;
}

.font_pregunta{
    margin-left: 10%;
    color: rgba(26,35,126,1);
    font-size: 160%;
    font-family: Montserrat-Bold;
    font-weight: bold;
}
.font_middle{
    margin-left: 10%;
    color: rgb(0, 0, 0);
    font-size: 100%;
    font-family: Montserrat-Bold;
    font-weight: normal;
}
.font_middle3{
    margin-left: 10%;
    color:#161830;
    font-size: 100%;
    font-family: Montserrat-Bold;
    font-weight: normal;

}
.button_2{
    background: transparent;
    border: transparent;
}

.images_icons{
    margin-left: 15%;
}

.font_middle2{
    color: #523DB8;
    font-weight: bolder;
    font-family: Helvetica;
    text-align: center;
}

.container_middle2{
    background-image: url("images/funciones.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.titulo2{
    color: white;
    text-align: center;
    font-weight: bolder;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

.back_middle{
    background-image: url("images/chat-circles.png");
    background-repeat: no-repeat;
}
.titulo3{
    color: white;
    font-family: Montserrat-Bold;
    font-weight: bolder;
    font-size: 200%;
    text-align: left;
}

.font_middle4{
    color: white;
    font-family: Montserrat-Bold;
    font-weight: normal;
    font-size: 100%;
    text-align: left;
}
.titulo4{
    color: #1A237E;
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
}

.back_down_color{
    background: rgba(179,205,209,1);
    background: -moz-linear-gradient(top, rgba(179,205,209,1) 0%, rgba(156,255,242,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,205,209,1)), color-stop(100%, rgba(156,255,242,1)));
    background: -webkit-linear-gradient(top, rgba(179,205,209,1) 0%, rgba(156,255,242,1) 100%);
    background: -o-linear-gradient(top, rgba(179,205,209,1) 0%, rgba(156,255,242,1) 100%);
    background: -ms-linear-gradient(top, rgba(179,205,209,1) 0%, rgba(156,255,242,1) 100%);
    background: linear-gradient(to bottom, rgba(179,205,209,1) 0%, rgba(156,255,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3cdd1', endColorstr='#9cfff2', GradientType=0 );
}

.container_footer{
    background: rgba(76,0,163,1);
    background: -moz-linear-gradient(left, rgba(76,0,163,1) 0%, rgba(40,2,71,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,0,163,1)), color-stop(100%, rgba(40,2,71,1)));
    background: -webkit-linear-gradient(left, rgba(76,0,163,1) 0%, rgba(40,2,71,1) 100%);
    background: -o-linear-gradient(left, rgba(76,0,163,1) 0%, rgba(40,2,71,1) 100%);
    background: -ms-linear-gradient(left, rgba(76,0,163,1) 0%, rgba(40,2,71,1) 100%);
    background: linear-gradient(to right, rgba(76,0,163,1) 0%, rgba(40,2,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c00a3', endColorstr='#280247', GradientType=1 );
}
.font_footer{
    color: white;
}

.icn_padding{
    margin-left: 45%;
    margin-right: 5%;
}

.button_ver_mas{
    color: white;
    font-size: 100%;
    font-weight: normal;
    width: 15%;
    height: 10%;
    background: transparent;
    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    border: 2px solid rgba(255, 242, 239, 0.84);


}

.button_inicar{
    margin-left: 40%;
    color: white;
    font-size: 100%;
    font-weight: normal;
    width: 15%;
    height: 65%;
    background: transparent;
    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    border: 2px solid rgba(255, 242, 239, 0.84);
}

.button_registrar{
    margin-left: 5%;
    color: white;
    font-size: 100%;
    font-weight: normal;
    width: 15%;
    height: 65%;
    background: transparent;
    border-radius: 60px 60px 60px 60px;
    -moz-border-radius: 60px 60px 60px 60px;
    -webkit-border-radius: 60px 60px 60px 60px;
    border: 2px solid rgba(255, 242, 239, 0.84);
}


hr {
    background-color: rgba(83, 83, 83, 0.46);
    height: 2px;
    border: 0;
    color: rgba(83, 83, 83, 0.46);
}
.image_mock{
    margin-right: 0;
}